* {
    box-sizing: border-box;
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url("https://w0.peakpx.com/wallpaper/705/258/HD-wallpaper-black-color-background-texture-minimalism.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    color: darkgrey;
    text-shadow: 3px 3px 3px black;
}

h2 {
    margin-top: 70;
    text-align: center;
    color: darkgrey;
    text-shadow: 3px 3px 3px black;
}


#main-picture {
    display: flex;
    justify-content: center;
   
}   

#about-pic {
    display: flex;
    justify-content: center;
}

#crowd-pic{
    width: 500;
    padding-top: 3;
    padding-bottom: 4;
}
div > img{
    width: 260px;
    
}

section > p {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    font-size:x-small;
    font-style: italic;
}



article > p {

    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgrey;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left:30px;
    margin-right: 30px;
}

.navbar { 
    display: flex;
    justify-content: center;
    padding-top: 30;
    
  }

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    
   
}
nav > a {
    color: darkgrey;
    background-color: rgb(0, 0, 0);
    border: 1px transparent solid;
    border-radius: 5px;s
    padding-bottom: 2;
    }

    nav > a:hover{
        background-color: aqua;
        opacity: 1000%;
    }

    #music-video {
        display: flex;
        justify-content: center;
        padding-top: 25;
        padding-bottom: 4;
    }

    #contact-form{
        color: darkgrey;
        display: flex ;
        justify-content: center;
        margin-top:30px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(48, 48, 48);
    }

textarea {
    display: flex;
    position: relative;
    left: 12;
    margin-top: 15;
   

}

#button {
    display: flex;
    position: relative;
    left:55;
}
#contacts {
    display: flex;
    justify-content: center;
}

 a > img {
    width:70px;
    margin-top: 10px;
    margin-right: 50px;
 }
  #flower-logo {
    width: 100;
    background-color: black;
    border-radius: 60%;

  }

  #contacts-2{
    display: flex;
    justify-content: center;

}

#contact-message2 {
   
    margin-top: 60;
    margin-bottom: 10;
}